/*
 *
 *
 *  This is your custom CSS file.
 *  Edumy will automatically load this custom CSS file on all pages of your Moodle site.
 *  IMPORTANT: Please remember not to override this file when updating Edumy theme. Keep a backup of this file before updating Edumy theme.
 *
 *
 */
/*  cutom yesa */

.btn-whats {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 28px;
}

.btn-whats:hover {
    background-color: #1caa50;
}

.btn-whats a {
    text-decoration: none;
}

.btn-whats a:hover {
    font-weight: bold;
    color: white;
}
.btn-whats a .fa-whatsapp{
    color: #ffffff !important;
}
